.header {
  border-bottom: 1px solid cyan;
  width: 85%;
  height: calc(100vh - 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  padding: 1rem 14rem 1rem 12rem;
}

.cardBody {
  width: 85%;
  height: calc(100vh - 10%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  position: absolute;
}

.cardGrid {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  align-items: center;
  padding: 1.5rem 1rem;
}

.menu_header {
  color: blueviolet;
  padding: 1rem;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .menu_header:hover .link:hover {
    color: lightgreen;
  }

  .menu_header:hover .link:hover span {
    transform: translateX(4px);
  }
}

.modal {
  width: 45%;
  height: calc(100vh - 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: gray;
  left: 25%;
  top: 25%;
  padding: 1rem 1rem;
}

.menu {
  border-right: 1px solid cyan;
  width: 15%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.card_menu {
  width: 100%;
  height: calc(100vh - 13%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.card_menu button {
  width: 100%;
  margin-bottom: 12px;
}

.card_task {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_task h2 {
  color: #006494;
  padding: 0.5rem;
  font-weight: 800;
  text-decoration: underline;
}

.card_task span {
  color: blue;
  padding: 0.5rem 1rem;
}

.card_footer {
  padding: 0.2rem 0.8rem;
}
