@media (hover: hover) and (pointer: fine) {
  .divHeader:hover .link:hover {
    color: lightgreen;
  }

  .divHeader:hover .link:hover span {
    transform: translateX(4px);
  }
}

.divHeader {
  color: blueviolet;
  padding: 1rem 1rem 0 1rem;
}

.link {
  text-decoration: none;
}

.main {
  width: 35%;
  height: 30rem;
  border: 1px solid cyan;
  position: absolute;
  left: 32.5%;
  top: 21%;
  border-radius: 12px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 5rem;
}

.form input {
  border-radius: 8px;
  padding: 0.5rem 0.7rem;
  width: 100%;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.form span {
  width: 20rem;
  font-weight: 600;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  padding: 0.4rem 0.4rem;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 108, 250);
}

.div_button {
  padding: 0 5rem;
  margin-top: 3rem;
}

.error {
  color: var(--text-danger);
  font-weight: 600;
}

.button_task {
  display: flex;
  padding: 0 5rem;
  margin-top: 3rem;
  gap: 12px;
}

.button_clear {
  padding: 0.4rem 0.4rem;
  width: 100%;
  text-align: center;
}
